<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Web Toolkit</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="favicon.png">
</head>
<body>
  <h1>Web Toolkit</h1>
  <h5>

  <a href="{% url "core:home" %}">Home</a>
  <a href="{% url "core:url_shortener" %}">URL Shortener</a>
</h2>
  {% block body %}{% endblock body %}

</body>

{% block after_body %}{% endblock after_body %}
</html>